<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="genericOneToMany">
            <h2><span jhiTranslate="jhipsterGenericAplicationApp.genericOneToMany.detail.title">Generic One To Many</span> {{ genericOneToMany.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterGenericAplicationApp.genericOneToMany.fieldOneToMany">Field One To Many</span></dt>
                <dd>
                    <span>{{ genericOneToMany.fieldOneToMany }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterGenericAplicationApp.genericOneToMany.generic">Generic</span></dt>
                <dd>
                    <div *ngIf="genericOneToMany.generic">
                        <a [routerLink]="['/generic', genericOneToMany.generic?.id, 'view']">{{ genericOneToMany.generic?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/generic-one-to-many', genericOneToMany.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
