<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="genericManyToOne">
            <h2><span jhiTranslate="jhipsterGenericAplicationApp.genericManyToOne.detail.title">Generic Many To One</span> {{ genericManyToOne.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterGenericAplicationApp.genericManyToOne.fieldManyToOne">Field Many To One</span></dt>
                <dd>
                    <span>{{ genericManyToOne.fieldManyToOne }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/generic-many-to-one', genericManyToOne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
